@import "reset.scss";

@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeflex/primeflex.min.css";
@import "primeicons/primeicons.css";
@import "primereact-custom.scss";
@import "primereact-custom.scss";

:root {
  --text-color: #1a1c23;
  --text-color-2: #8e8e8e;
  --primary-color: #ff8906;
  --background-color: #FFF3E6;

  font-size: 16px;
  color: var(--text-color);
}
